

body {
    background: url(../images/outerspace_landscape.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

nav {
  padding: 10px 60px 0px 60px;
  text-align: left;
  background-color: gray;
  position: relative;
  height: 55px;
}

.logo {
  position: absolute;
  left: 40px;
     width: 35px;
    height: 35px;
    position: absolute;
    /*overflow: hidden;*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid black;
}

nav ul {
	margin-top: 6px;
}

nav ul li{
    list-style-type: none;
    display: inline;
}

nav ul li::after{
    content: " |";    
}

div {
  position: relative;
}


.box.green{ 
  width: 600px;
  height: 300px;
  border: 10px green dotted;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.box.small {
  width: 200px;
  height: 200px;
}

div:nth-child(2) {
  background-image: url(../images/spacecat.png);
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  left: 250px;
  bottom: 400px;
}

div:nth-child(3) {
  background-image: url(../images/spacedog.png);
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  left: 250px;
  bottom: 400px;
  left: 800px;
  bottom: 300px;
}


